<div class="container animation">
  <div class="row text-center">
    <div class="col-4">
      <img
        routerLink="/ford"
        class="width-img-logo cursor"
        src="fordlogo.png"
        alt=""
      />
    </div>
    <div class="col-4">
      <img
        routerLink="/fiat"
        class="width-img-logoFiat cursor"
        src="fiatlogo.png"
        alt=""
      />
    </div>
    <div class="col-4">
      <img
        routerLink="/audi"
        class="width-img-logo cursor"
        src="audilogo.png"
        alt=""
      />
    </div>
  </div>
</div>
