main {
  height: 90vh;
  background-image: url(https://wallpapers.com/images/featured/1366x768-ferrari-hd-400grbkau2xxv8tb.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
